spring:
  application:
    name: LibraryAPI
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate.format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: none

api:
  security:
    token:
      secret: ${JWT_SECRET:my-secret-key}
